.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.container-navbar {
    background-color: rgb(176, 228, 228);
}

.container-navbar-dark {
    background-color: rgb(40, 36, 104);
    color: azure;
}

#image {
    margin: 20px;
    height: 70px;
}
